.carta{
    border: solid black 6px;
    
    width: 90px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 8px 8px 18px rgb(29, 26, 19);
    margin-right: 30px;
    
}
